.card{
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    width: 240px;
    margin: 8px;
    box-shadow: none;
    padding:0;
    align-items: center;
    max-width: 100%;
    position: absolute;
    
}

.note{
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    width: 240px;
    margin: 8px;
    box-shadow: none;
    width: 15%;
    height:20%;
    flex-wrap: wrap;
    word-wrap: break-word;
}
.card input{
    border:none;
    text-decoration: none;
}
.card-text{
    border: none;
    resize: none;
    padding-bottom: 20px;
}
.button{    
    background-color: gold; 
    color: #fff;
    border: none;
    border-radius: 100%;
    margin-top: 50px;
    padding:0;
    margin:0;
    
    bottom: 0;
    right:0;
    align-items: end;
}
.del-button{
    background-color: gold; 
    color: #fff;
    border: none;
    border-radius: 100%;
    margin-top: 50px;
    padding:0;
    margin:0;
    left: 0%;
}
